<!DOCTYPE html>   
<html>   
  <head>  
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <title> Login Page </title>  
    <style>   
      Body {  
        font-family: Calibri, Helvetica, sans-serif;
      }   
      button {   
        background-color: #4CAF50;   
        width: 25%;  
        color: black;   
        padding: 15px;   
        margin: 10px 0px;   
        border: none;   
        cursor: pointer;   
      }   
      input[type=text] {   
        width: 25%;   
        margin: 8px 0;  
        padding: 12px 20px;   
        display: inline-block;   
        border: 2px solid green;   
        box-sizing: border-box;   
      }  
      button:hover {   
        opacity: 0.7;   
      }   
      .cancelbtn {   
        width: auto;   
        padding: 10px 18px;  
        margin: 10px 5px;  
      }   
      .container {   
        padding: 25px;   
        background-color: lightblue;  
      }   
    </style>   
  </head>    
  <body>
    <center> 
      <%= form_with scope: :user, url: users_path, local: true do |f| %>
        <%= f.label :username %>
        <br>
        <%= f.text_field :username, placeholder: "Enter a username" %>
        <br>
        <%= f.label :email%>
        <br>
        <%= f.text_field :email, placeholder: "Enter your email address" %>
        <br>
        <%= f.label :password %>
        <br>
        <%= f.text_field :password, placeholder: "Choose a password" %>
        <br>
        <button type="submit">Login</button>   
        <br>
        <button type="button" class="cancelbtn"> Cancel</button>
        <br>
        <a href='/sessions/new'> Login </a>
      <% end %>
    </center>
  </body>     
</html>  